<?xml version="1.0" encoding="utf-8"?>
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ResourceId>/subscriptions/512abf11-ac8f-453c-900d-38b869bb0ffa/resourceGroups/TodoKaynak/providers/Microsoft.Web/sites/todoApiTest1</ResourceId>
    <ResourceGroup>TodoKaynak</ResourceGroup>
    <PublishProvider>AzureWebSite</PublishProvider>
    <SiteUrlToLaunchAfterPublish>https://todoapitest1.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <MSDeployServiceURL>todoapitest1.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>todoApiTest1</DeployIisAppPath>
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$todoApiTest1</UserName>
    <_SavePWD>True</_SavePWD>
  </PropertyGroup>
</Project>